/* Local Fonts */
@font-face {
    font-family: "Graphik";
    font-weight: 300;
    src: url("/fonts/GraphikRegular.otf") format("opentype");
}

/* 300 */
@font-face {
    font-family: "Graphik", sans-serif;
    font-weight: 400;
    src: url("/fonts/GraphikMedium.otf") format("opentype");
}
/* 400 */
@font-face {
    font-family: "Graphik", sans-serif;
    font-weight: 500;
    src: url("fonts/GraphikSemibold.otf") format("opentype");
}

@font-face {
    font-family: "Graphik", sans-serif;
    font-weight: 600;
    src: url("/fonts/GraphikBold.otf") format("opentype");
}
/* 900 */
@font-face {
    font-family: "Graphik", sans-serif;
    font-weight: 900;
    src: url("/fonts/GraphikSuper.otf") format("opentype");
}

/* Declearing Global variables */

:root {
    
}

body {
    font-family: "Graphik", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    background: #E5E5E5;
    cursor: crosshair;
    overflow: hidden;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: -2;
}
.grow-big {
    transform: scale(2);
    background: rgba(0, 0, 0, 0.4)
}
.text-white {
    color: white !important;
}
.typed-cursor {
    display: none;
}
/********************************************************************************************************************

///////////////////////////////////////////    Header Section         ///////////////////////////////////////////////

*********************************************************************************************************************/
#header {
    width: 100%;
    height: 100vh;
}
.nav-item, .nav-link {
    font-weight: 400;
    color: black !important;
}
.nav-link, .nav-link:hover {
    cursor: none;
}

.nav-link:hover {
    color: #ffffff !important;
}
.start-btn {
    background-color: #000000;
    color: #ffffff !important;
    padding: .6rem 1.1rem !important;
    border-radius: 40px;
    font-size: 0.8rem !important;
}
.typed-text, .typed-1, .typed-2 {
    font-family: "Graphik", sans-serif;
    font-weight: 900;
    font-size: 7rem;
    list-style: 0.5;
}
.animated-div {
    position: relative;
}
.line-anime {
    border: none;
    border-bottom: .1rem solid black;
    width: 100%;
}
.hero-des {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.change-text {
    text-align: left;
    font-size: 1.12rem;
}


/********************************************************************************************************************

  ///////////////////////////////////////////   Media Query         ///////////////////////////////////////////////

*********************************************************************************************************************/
@media screen and (max-width: 990px) {
    .cursor {
        display: none;
    }
    .typed-text, .typed-1, .typed-2 {
        font-size: 5rem;
    }
    .typed-heading {
        margin-bottom: 4.3rem;
    }
    .change-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 575px) {
    .typed-text, .typed-1, .typed-2 {
        font-size: 3.5rem;
        padding-left: 2rem;
    }
    .change-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 385px) {
    .typed-text, .typed-1, .typed-2 {
        font-size: 2.3rem;
        padding-left: 2rem;
    }
    .hero-des {
        width: 65%;
    }
}